@keyframes notify {
  0%,
  to {
    opacity: 0;
  }
  15%,
  80% {
    opacity: 1;
  }
}
@keyframes info {
  0%,
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.debug {
  border: 1px solid red;
}
#pools-stats {
  margin-bottom: 192px;
}
.no-js #pools-stats .note {
  display: none;
}
.panels {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  pointer-events: all;
}
.panels:lang(cn),
.panels:lang(de),
.panels:lang(es),
.panels:lang(fr),
.panels:lang(th) {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.pools {
  margin-bottom: 24px;
}
.content-dashboard {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  padding: 24px 0 0;
  color: #050505;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}
.info-panel {
  padding: 6px !important;
  color: #050505;
}
.panel.clear,
.panel.info {
  overflow: visible;
  margin: 0;
}
.panel-header {
  color: #fff;
  padding: 12px;
  background-color: #fcbf49;
}
.info-panel-subheading {
  color: #d62828;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #2b2b2b;
  padding-bottom: 2px !important;
  margin-bottom: 12px !important;
}
button.copy {
  margin: 0 0.7em;
}
.info,
button.copy,
button.copy:after {
  display: inline-block;
  cursor: pointer;
}
button.copy,
button.copy:after {
  all: unset;
  box-sizing: border-box;
  width: 13px;
  height: 15px;
  border: 2px solid #aaa;
  opacity: 0.8;
  font-size: 0.7rem;
  transition: opacity 0.3s;
  position: absolute;
}
button.copy:after {
  content: ' ';
  left: 20%;
  top: 20%;
  background-color: #fff;
}
button.copy:hover {
  opacity: 1;
  border-color: #003049;
}
.info {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  vertical-align: top;
  text-align: center;
  transition: background-color 0.4s;
  color: #fff;
}
.info:before {
  content: 'i';
  font-family: monospace;
  position: absolute;
  top: 8px;
  left: 6px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-weight: 300;
  text-align: center;
  background-color: #0092c3;
  border-radius: 50%;
}
.info-label,
.info:after,
.notification {
  position: absolute;
  display: inline-block;
  left: 50%;
  max-width: 40vw;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.4;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
  transform: translateX(-50%) translateY(-100%);
}
.info:after {
  content: attr(data-text);
  visibility: hidden;
  width: 200px;
  font-size: 14px;
  background-color: rgba(5, 5, 5, 0.9);
  z-index: 400;
  opacity: 0;
  transition: opacity 0.4s;
}
.info:hover:after {
  visibility: visible;
  opacity: 1;
}
.info-costs:before {
  left: 0;
}
.info-label,
.notification {
  top: 50%;
  color: #fff;
  text-align: center;
  background-color: #f77f00;
  z-index: 1000;
  pointer-events: none;
}
.notification {
  font-size: 14px;
  opacity: 0;
  animation-name: notify;
  animation-duration: 1s;
}
[data-info-text] {
  cursor: pointer;
}
.info-label {
  font-size: 14px;
  opacity: 1;
  animation-duration: 0.6s;
  animation-name: info;
}
:root {
  --baseChartColor: #0092c3;
}
.chart,
.stake-legend > div {
  position: relative;
  display: flex;
}
.chart {
  flex-direction: column;
}
.chart-title {
  color: #050505;
  position: relative;
  text-align: center;
}
.chart-content {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin: 0 auto;
}
.chart-content:after,
.chart-content:before {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  color: #050505;
  text-align: center;
  transition: opacity 0.3s;
}
.chart-content:before {
  content: attr(data-ylabel);
  left: calc(-0.8em - 50%);
  top: 50%;
  transform: rotate(-90deg);
}
.chart-content:after {
  content: attr(data-xlabel);
  left: 0;
  top: 105%;
}
.stake-chart {
  position: relative;
  height: 162px !important;
  padding: 24px 0 0;
}
.stake-chart svg {
  width: 100%;
  height: 100%;
  font-size: 1.125em;
}
.stake-chart circle {
  fill: transparent;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dasharray 1.5s, opacity 0.3s;
  stroke-width: 25;
  opacity: 0.8;
}
.stake-chart circle:hover {
  opacity: 1;
}
.stake-chart #active {
  stroke-dasharray: 0 800;
}
.stake-chart #active,
.stake-chart #active-saturated {
  stroke: var(--baseChartColor);
  opacity: 0.3;
}
.stake-chart #active:hover {
  opacity: 0.4;
}
.stake-chart #available {
  stroke: rgba(0, 0, 0, 0.1);
}
.stake-chart #live {
  stroke: var(--baseChartColor);
  stroke-dasharray: 0 800;
}
.stake-chart #active-saturated,
.stake-chart #live-saturated {
  stroke: #fff;
  filter: brightness(50%);
  stroke-dasharray: 0 800;
  transition: stroke-dasharray 0.4s;
  transition-delay: 1s;
}
.stake-chart #live-saturated {
  opacity: 1;
}
.stake-chart #stake {
  fill: var(--baseChartColor);
  font-size: 1.4em;
}
.stake-chart #saturation {
  font-size: 1.3em;
}
.stake-legend {
  position: relative;
  width: 100%;
  margin: 6px auto 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 0.75em;
  font-weight: 200;
  line-height: 1.2;
}
.stake-legend > div {
  align-items: center;
  text-align: left;
}
.stake-legend > div:before {
  content: ' ';
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
}
.stake-legend > .active:before,
.stake-legend > .live:before {
  background-color: var(--baseChartColor);
  opacity: 0.8;
}
.stake-legend > .active:before {
  opacity: 0.4;
}
.stake-legend > .available:before {
  background-color: rgba(0, 0, 0, 0.15);
}
.stake-legend > .available.saturated {
  color: #d00;
}
.stake-legend > .available.saturated:before {
  background-color: #d00;
  opacity: 0.8;
}
.stake-legend > div:after {
  content: attr(data-val);
  position: relative;
  flex-grow: 1;
  text-align: right;
}
.block-chart {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}
.block-chart > div,
.epoch-blocks .block-chart div > div {
  position: relative;
  flex-grow: 1;
  background-color: var(--baseChartColor);
}
.block-chart > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0.05em;
  min-height: 1px;
  color: #050505;
  opacity: 0.85;
  transition: opacity 0.4s, height 1.5s;
}
.block-chart > div:hover {
  opacity: 0.95;
}
.block-chart div:after,
.block-chart div:before {
  font-size: 0.725em;
  content: attr(data-val);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #454545;
  transform: translateY(-100%);
}
.block-chart div:after {
  content: attr(data-name);
  color: #555;
  top: auto;
  bottom: 0;
  transform: translateY(100%);
}
.epoch-blocks {
  height: 206px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}
.epoch-blocks .current-luck {
  font-size: 1em;
  margin-left: -16px;
  margin-right: -16px;
  color: var(--baseChartColor);
}
.epoch-blocks .block-chart {
  width: 35%;
  min-width: 100px;
  max-width: 500px;
  margin-top: 0;
}
.epoch-blocks .block-chart div {
  height: 70%;
  transition: opacity 0.4s, height 1.5s;
}
.epoch-blocks .block-chart div > div {
  height: 0%;
  color: var(--baseChartColor);
}
.epoch-blocks .estimated {
  background-color: rgba(0, 0, 0, 0.08);
  color: #1f1f1f;
  text-transform: capitalize;
}
.epoch-blocks .estimated div {
  font-weight: 200;
}
.epoch-blocks .actual:before,
.epoch-blocks .estimated:before {
  font-size: 0.7em;
  width: calc(100% + 16px);
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.epoch-blocks .estimated:before {
  color: #454545;
  text-align: left;
  left: -16px;
  right: 0;
}
.epoch-blocks .estimated > div {
  opacity: 0.7;
}
.epoch-blocks .actual > div:after,
.epoch-blocks .estimated > div:after,
div[data-name='pool-pledge'] span,
span[data-name='pool-ticker'] {
  color: #050505;
}
.epoch-blocks .actual {
  background-color: transparent;
  text-transform: capitalize;
}
.epoch-blocks .actual div {
  font-weight: 200;
}
.epoch-blocks .actual:before {
  color: #5e5e5e;
  text-align: right;
  right: -16px;
}
:root {
  --dashboardBaseColor: #050505;
}
.current-luck:lang(de),
.current-luck:lang(th),
.info-panel-subheading:lang(de),
.info-panel-subheading:lang(jp),
.info-panel-subheading:lang(th),
.title-lifetime:lang(de),
.title-lifetime:lang(th),
.title-monthly:lang(de),
.title-monthly:lang(th) {
  font-size: 0.9em !important;
}
.dashboard-container {
  gap: 24px;
  text-align: center;
  font-size: 0.875em;
  border: 3px solid #2b2b2b;
}
.dashboard-container:hover {
  background-color: #f77f00;
}
.dashboard.loading > .content:before,
.pool-title:before {
  background-repeat: no-repeat;
  background-position: center center;
}
.dashboard.loading > .content:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0092c3;
  z-index: 1000;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='64px' height='64px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Ccircle cx='64.13' cy='64.13' r='27.63' fill='%2358a5db'/%3E%3Cpath d='M64.13 18.5A45.63 45.63 0 1 1 18.5 64.13 45.63 45.63 0 0 1 64.13 18.5zm0 7.85a37.78 37.78 0 1 1-37.78 37.78 37.78 37.78 0 0 1 37.78-37.78z' fill-rule='evenodd' fill='%2358a5db'/%3E%3Cg%3E%3Cpath d='M95.25 17.4a56.26 56.26 0 0 0-76.8 13.23L12.1 26.2a64 64 0 0 1 87.6-15.17z' fill='%2358a5db'/%3E%3Cpath d='M95.25 17.4a56.26 56.26 0 0 0-76.8 13.23L12.1 26.2a64 64 0 0 1 87.6-15.17z' fill='%2358a5db' transform='rotate(120 64 64)'/%3E%3Cpath d='M95.25 17.4a56.26 56.26 0 0 0-76.8 13.23L12.1 26.2a64 64 0 0 1 87.6-15.17z' fill='%2358a5db' transform='rotate(240 64 64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='120 64 64' dur='1080ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
  background-size: 60px 60px;
}
.pool-title {
  font-size: 1.2em;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.8);
  margin-bottom: 12px;
}
.pool-title:before {
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin: 0 6px 0 0;
  background-image: url('/images/noun_cube.svg');
  background-size: contain;
}
.pool-location {
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin-bottom: 6px;
}
.pool-location:before {
  content: ' ';
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #0092c3;
  margin-right: 6px;
  border-radius: 50%;
  -webkit-animation: 3s blink ease infinite;
  animation: 3s blink ease infinite;
}
.panel small {
  font-size: 0.7em;
  line-height: 1.2;
  color: #454545;
  display: inline-block;
}
.emphasizeL {
  position: relative;
  display: inline-block;
  font-weight: 400;
  padding: 0.3em 0.1em 0.2em;
  font-size: 1.5em;
  color: #0092c3;
}
.emphasizeL,
.emphasizeM,
.updated {
  font-family: 'Oswald', sans-serif;
}
.emphasizeM {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #0092c3;
  padding: 0;
  font-size: 1em;
}
.updated {
  color: #000000;
  font-size: 0.9em;
  font-weight: 600;
}
.panel i {
  font-weight: 400;
  font-style: normal;
}
.updated a:link,
.updated a:visited {
  color: #d9d9d9;
  text-decoration: underline;
  text-transform: none;
}
.updated a:hover {
  text-decoration: none;
}
.pool-id {
  display: inline-block;
  font-family: monospace;
  white-space: pre;
  letter-spacing: 1px;
  line-height: 1.1;
  color: #2b2b2b;
}
.delegators {
  text-align: center;
  color: var(--dashboardBaseColor);
  text-transform: capitalize;
}
.delegators:lang(de),
.fees:lang(de) {
  font-size: 0.9em;
}
.fees {
  width: 100%;
  border-collapse: collapse;
}
.fees th {
  font-weight: 400;
}
.fees td,
.fees th {
  text-align: left;
  padding: 0;
}
.fees td:last-child {
  width: 50%;
  text-align: right;
}
.fees tfoot td,
.fees tfoot th {
  border-top: 1px dotted #050505;
  vertical-align: top;
}
.fees tfoot td .info:before,
.fees tfoot th .info:before {
  display: inline-block;
}
.dashboard .info-panel {
  padding: 12px;
  font-size: 0.9em;
  flex-basis: 10%;
  flex-shrink: 3;
}
.dashboard .info-panel > h2,
.dashboard .info-panel > h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.3em;
  margin: 0;
}
.dashboard .info-panel > h2:first-of-type,
.dashboard .info-panel > h3:first-of-type {
  padding-top: 0;
  padding-bottom: 0;
}
.dashboard .epoch-blocks,
.dashboard .stake-chart {
  height: 250px;
}
.dashboard .epoch-blocks .block-chart {
  width: 35%;
  min-width: 100px;
}
@media all and (max-width: 47.99em) {
  .dashboard .info-panel {
    padding: 6px;
    margin-bottom: 12px;
  }
  .stake-legend {
    font-size: 0.875em;
  }
}
